@using AssetTrackingSystem.Models.Models
@model IEnumerable<AssetTrackingSystem.Models.Models.DetailsCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="table">
    <div class="from_my_style">
               
        @using (Html.BeginForm("Index", "DetailsCategory", FormMethod.Post, new { @class = "form-horizaontal" }))
        {
            <hr />
            <h4>Details Category</h4>
            <hr />
           <h4> @Html.ActionLink("Create New", "Create")</h4>
            <p>
                Name: @Html.TextBox("detailscategory")
                Code :  @Html.TextBox("Code")
                <input type="submit" value="Search" />
            </p>
        }
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneralCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detailsCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.Category.GeneralCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.subCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.detailsCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                </td>
            </tr>
        }
    </table>
</div>

