@using AssetTrackingSystem.Models.Models
@model AssetTrackingSystem.Models.Models.ViewModel.AssetLocationVM 
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asset Location Setup</h2>
<div class="container">
    @using (Html.BeginForm("Create", "AssetLocation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h2>Asset Location Setup</h2>
        <p>
          @if (ViewBag.Message != null)
            {
                <strong>@ViewBag.Message</strong>
            }
            </p>
        <div class="form-group">
            <label for="country" class="col-sm-4 control-label">Organization</label>
            <div class="col-sm-8">
                @Html.DropDownList("OrganizationId", new SelectList(Model.Organizations, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>

         <div class="form-group">
            <label for="country" class="col-sm-4 control-label">Branch</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(m => m.BranchId, new SelectList(Model.Branches, "Value", "Text"), new {id= "branchId", @class = "form-control" })
                @Html.ValidationMessageFor(m=> m.BranchId)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", @class = "form-control", autofocus = true })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ShortName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.ShortName, new { @placeholder = "Short Name", @class = "form-control", autofocus = true })
                @Html.ValidationMessageFor(m => m.ShortName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </div>
         @Html.ActionLink("Back To Index","Index")
    }
  

</div>
@section scripts{
<script>

    $("#OrganizationId").on("change", function () {
        var organizationId = $('#OrganizationId').val();

        var jsonData = { organizationId: organizationId };
        $('#branchId').empty();
        var defaultDropDownValue = '<option value="">--SELECT--</option>';
        $('#branchId').append(defaultDropDownValue);

        $.ajax({
            type: "POST",
            url: "/AssetLocation/GetBranchByOrganization",
            data: JSON.stringify(jsonData),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                // get json data list
                $.each(data, function (key, branch) {

                    var optionText = "<option value='" + branch.Id + "'>" + branch.Name + "</option>";
                    $('#branchId').append(optionText);
                });


            }


        });

    });

</script>

}



